name: Release

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed for creating a release
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Need full history for versioning/build number
          
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
          
      - name: Build all platforms
        run: make all-platforms
        
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/*
          draft: false
          prerelease: false
          generate_release_notes: true
